@import "background.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.continut {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btn1 {
  right: 100px;
  position: absolute;
}
.btn2 {
  left: 100px;
  position: absolute;
}
.btn1,
.btn2 {
  padding: 15px 30px;
  border: 2px solid #1f1;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
  -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
  transition: 0.5s;
  transition-delay: 1.5s;
}
.continut a span {
  position: relative;
  z-index: 100;
}
.continut a:hover {
  transition-delay: 1.5s;
  color: #000;
  box-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 40px #0f0, 0 0 80px #0f0,
    0 0 160px #0f0;
}
.continut a:nth-child(2) {
  filter: hue-rotate(80deg);
}
.continut a::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #0f0;
  box-shadow: 5px -8px 0 #0f0, 5px 8px 0 #0f0;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;
}
.continut a:hover::before {
  width: 60%;
  height: 100%;
  left: -2px;
  box-shadow: 5px 0 0 #0f0, 5px 0 0 #0f0;
  transition-delay: 0s, 0.5s, 1s, 1s;
}

.continut a::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #0f0;
  box-shadow: -5px -8px 0 #0f0, -5px 8px 0 #0f0;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;
}
.continut a:hover::after {
  width: 60%;
  height: 100%;
  right: -2px;
  box-shadow: -5px 0 0 #0f0, -5px 0 0 #0f0;
  transition-delay: 0s, 0.5s, 1s, 1s;
}
